body {
	padding-top: 50px;
}

.counter-holder {
	margin: 120px auto 0 auto;
	width: 500px;
	height: 165px;
	background-color: red;
	padding: 50px;
}

.counter-holder .number {
	background-color: #555;
	color: #FFF;
	padding: 0px;
	font-size: 50px;
}